body {
    font-family: 'JetBrains Mono', monospace;
}

header {
    position: sticky;
    top: 0;
    background-color: #99CCFF;
    z-index: 1000;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links {
    display: flex;
    gap: 15px;
}

main {
    text-align: center;
}

.catch {
    font-size: 45px;
    margin-top: 100px;
}

.join {
    width: 9em;
    height: 3em;
    font-size: 20px;
    margin-bottom: 150px;
    background-color: #CEE6C1;
}

.text {
    display: inline-block; 
    text-align: left;
    line-height: 2;
}

.form {
    width: 9em;
    height: 3em;
    font-size: 15px;
    margin-bottom: 150px;
    background-color: #CEE6C1;
}

footer {
    bottom: 0;
    z-index: 1000;
}